*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

.with-main-background {
  background: url('../public/main-background.jpg') center no-repeat;
  background-size: 100% 100%;
}

.with-auth-background {
  background: url('../public/auth-background.jpg') center no-repeat;
  background-size: 100% 100%;
}

.with-feed-background {
  background: url('../public/feed-background.jpg') center no-repeat;
  background-size: 100% 100%;
}

.logo {
  background: url('../public/logo.png') center no-repeat;
  background-size: 100% 100%;
}

body {
  height: 100%;
  background: transparent !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
